body {
    background-color: burlywood;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* HEADINGS */ 

.header--main {
    font-weight: normal;
    font-size: 100px;
    color: black;
}

.header-secondary {
    font-weight: 300;
    font-size: 42px;
    color: #005000;
}

.header--sub-header {
    font-size: 21px;
    color: #005000;
}

/* LINKS */ 

.link--cta {
    font-size: 25px;
    color: #005000;
}

/* FOOTER */

.copyright {
    color: gray;
    text-align: right;
}